@model WebApplicationEjemplo.Models.Products

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*@Html.DropDownListFor(model => model, Model);*@

@Html.BeginForm("Redirect", "Test", FormMethod.Post) {
@Html.DropDownListFor(x => x.ProductList, new SelectList(Model.ProductList, "Id", "Title"), htmlAttributes: new { @class = "form-control", id = "Country", name = "product", @onchange = "this.form.submit()" })
}
